{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

<div class="page-header">
  <p class="lead"> Find show </p>
</div>

<form class="search col-sm-5" method="post" action="/show/search">
    <input class="form-control"
      type="search"
      name="search_term"
      placeholder="Find a show"
      aria-label="Search">
    <div class="form-group">
      <input type="radio" name="search_by" value="show" checked>
        by name
        <input type="radio" name="search_by" value="artist">
        by artist &nbsp;
        <input type="radio" name="search_by" value="venue">
        by venue
    </div>
    <input class="form-control"
      type="submit"
      placeholder="Find"
      aria-label="Search">
    </form>

{% endblock %}